<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8" />
        <title>CountryName</title>
        <link type="text/css" rel="stylesheet" href="../../assets/css/template.css" />
        
        <!-- Get Bootstrap: -->
        <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
    <body>
        <div class="container-fluid">
            <div class="title-block">
                <h1 class="text-center">LocationName</h1>
                <img id="mainImage" src="" class="img-responsive img-circle" />
            </div>
            <div class="carousel">
                <!-- Carousel of 5-10 images taken in location -->
            </div>
            <div class="detail-block">
                <div id="day1" class="day-block">
                <h2 class="day-header"></h2>
                    <div id="event1" class="event-block">
                        <h3 class="event-header"></h3>
                        <div class="content">
                            
                        </div>
                    </div>
                    <div id="event2" class="event-block">
                        <h3 class="event-header"></h3>
                        <div class="content">
                            
                        </div>
                    </div>
                </div>
                <div id="day2" class="day-block">
                    <div id="event3" class="event-block">
                        <h3 class="event-header"></h3>
                        <div class="content">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>