body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #49659B;
    color: white;
}
h1 {
    font-size: 160px;
    font-weight: 100;
    margin-bottom: 25px;
}
.item img {
    min-width: 512px;
    max-height: 512px;
    margin: 0 auto;
}
#mainImage {
    margin: 25px 0px 100px 0px;
}


.detail-block {
    padding-top: 40px;
}
.day-block {
    padding-top: 35px;
    padding-bottom: 35px;
}
.day-block:nth-child(3n + 1) {
    background-color: #E8A45F;
}
.day-block:nth-child(3n + 2) {
    background-color: #59BE4E;
}
.day-block:nth-child(3n) {
    background-color: #A5291C;
}